<div class="main custom-bg-dark">
  <div class="custom-container">
    <img src="../../../assets/background.png" class="img-fluid">
    <div class="custom-text-on-image display-1">html_mastery</div>
  </div>
  <div class="custom-colors-1 pb-10">
    <div class="text-center">
      <h3 class="display-3 my-0">
        Teszteld le a html tudásod, lépj mastery szintet!
      </h3>
    </div>
  </div>
  <div class="custom-container custom-bg-dark pb-10">
    <img src="../../../assets/example-faded.jpg" class="img-fluid my-0">
    <div class="custom-text-on-image-2 display-4">online kódszerkesztővel</div>
  </div>
  <div class="custom-bg-dark custom-text-light pb-10">
    <div class="row text-center">
      <div class="col">
        <p class="font-weight-light">Daniel János Róbert</p>
      </div>
      <div class="col">
        <p class="font-weight-light">HSHAOO</p>
      </div>
      <div class="col">
        <p class="font-weight-light">DAJYAAT.SZE</p>
      </div>
      <div class="col">
        <p class="font-weight-light">h650011</p>
      </div>
    </div>
  </div>
</div>