.custom-container {
  position: relative;
  text-align: center;
  color: white;
}

.custom-text-on-image {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -25%);
}

.custom-text-on-image-2 {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -60%);
}
