<!-- Default form login -->
<form class="text-center border border-light p-5">

  <p class="h4 mb-4">Regisztráció</p>

  <!-- Email -->
  <input type="email" class="form-control mb-4" placeholder="Felhasználónév">

  <!-- Password -->
  <input type="password" class="form-control mb-4" placeholder="Jelszó">

  <input type="password" class="form-control mb-4" placeholder="Jelszó újra">


  <!-- Sign in button -->
  <button type="button" class="btn btn btn-outline-dark my-4" >Regisztráció</button>

  <!-- Social login -->

</form>
<!-- Default form login -->